.header-content{
    min-height: 750px;
    background: url("../../images/lib.avif") center/cover no-repeat; 
    
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
    /* filter: blur(5px); */
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}
